@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-size: 1em;
  font-family: "Noto Sans Myanmar", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}